/* 设置第五页的样式 */
.page5{
   background: url(../images/cool-background\ \(3\).png);
   padding: 80px 0px 0px;

}
.page5 h2{
    text-align: center;
    
}
.page5 .video{
    margin: 10px auto 20px;
    display: flex;
    width: 75%;
    height: 70%;
    background-color: rgba(255,255,255);
}
.page5 .video iframe{
    width: 100%;
    height: 100%;
}

.footer{
    color: white;
    width: 100%;
    height: 30%;
    background-color: #333;
}